/* work sans font   */
body{
    font-family: 'Work Sans', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    max-width: 1440px;
}

/* nav section */
.nav{
    margin: 0px 100px;
    padding: 30px;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
}
.nav-icon{
    display: flex;
    align-items: center;

}
.frame-img{
    height: 30px;
}
.title-text{
    margin-left: 10px;
    font-size: 2rem;
    font-weight: 800px;
}
.primary-color{
    color: rgb(212, 15, 130);
}

.nav-item{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav li{
    list-style: none;
    margin-right: 10px;
    padding: 12px;
    border-radius: 7px;
}
.nav-item a{
    color: black;
    font-size: 18px;
    text-decoration: none;
}
.follow{
    background-color:aliceblue;
    
}
.follow i{
    margin-left: 3px;
}


/* banner section */

.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 100px;
}

.banner-status{
    max-width: 50%;
}

.banner-goat{
    font-size: 4rem;
    width: 800px;
    color: rgb(226, 9, 136);
    padding: 20px 10px;
    max-width: 50%;
}
.primary-text{
    font-size: 16px;
    width: 400px;
    color: black;
    padding: 5px 10px;
    max-width: 50%;
}
.btn-primary{
    font-size: 20px;
    padding: 10px;
    margin-top: 20px;
    border: none;
    color: aliceblue;
    border-radius: 15px;
    background-color: rgb(223, 13, 160);
    
}
.btn-primary-1{
    font-size: 20px;
    padding: 10px;
    margin-top: 20px;
    border: none;
    color: aliceblue;
    border-radius: 15px;
    background-color: rgb(129, 13, 223);
    
}

/* banner img */
.banner-img{
    height: 400px;
    width: 500px;
}


/* online gaming section */

.online-game{
    margin: 30px 100px;
}

.online-status{
    text-align: center;
    margin: 20px;

}
.online-text{
    font-size: 14px;
    color: gray;
    margin-top: 10px;
}

.online-cards{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    gap: 10px;

}

.card-img{
    width: 280px;
}

/* play container */

.play-game-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin: 70px 100px;
    max-width: 100%;

}

.play-status{
    margin-left: 100px;
    padding: 20px;
    padding-left: 30px;
    max-width: 50%;
}
.play-text{
    text-align: center;
    font-size: 2rem;
    font-weight: 600px;
    text-wrap: nowrap;
}
.play-game-text{
    align-items: center;
    color: gray;
    font-size: 15px;
    padding: 20px;

}
.play-status{
    max-width: 70%;
}
.play-img-container{
    max-width: 50%;
}
.play-img{
    width: 560px;
}
.relative-badge{
    position: relative;
    bottom: 180px;
    margin-left: -100px;
}
.badge-img{
    height: 250px;
    width: 200px;
}

/* career section */

.career-container{
    margin:  0px;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    max-width: 100%;
    background-color: rgb(243, 115, 185);
    border: 2px solid;

}
.career-status{
    border:2px solid;
    padding: 20px;
}
.career{
    color: aliceblue;
    padding: 10px;
}
.career-text{
    color: aliceblue;
    padding: 10px;
    font-size: 16px;
}
.btn-career{
    font-size: 18px;
    padding: 10px;
    border: 2px solid white;
    color: rgb(238, 6, 122);
    border-radius: 20px;
}

.career-img-container{
    border: 2px solid;
    width: 50%;
}
.career-img{
    width: 500px;
}


/* card section */
.card-container{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(5,1fr);
    margin: 50px 100px;
    max-width: 100%;
}
.card{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
    border: 2px none;
}
.card:hover{
    border: 2px solid rgb(233, 72, 166);
    border-radius: 30px;
    color:rgb(238, 66, 172);
}
.card-img{
    height: 50px;
    width: 50px;
}
.card-title{
    font-size: 16px;
    text-wrap: nowrap;

}


/* footer section */
.footer-container{
    margin-top: 50px;
    background-color: rgb(5, 5, 46);
}
.footer-logo{
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.footer-title{
    color: aliceblue;
    font-size: 2rem;
    padding: 10px;
}
.footer-img{
    height: 40px;
}
.footer-ul{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 30px;
}
.footer-ul li{
    list-style: none;
}
.footer-text{
    color: aliceblue;
}

.footer-icon{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px;
}

.footer-terms-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;

}
.terms-text{
    color: rgb(145, 138, 130);
    font-size: 14px;
}
.footer-copyright{
    color: rgb(104, 98, 89);
    font-size: 13px;
    text-align: center;
    padding: 20px;
    padding-bottom: 70px;
}







/* responsive for mobile devise */

@media screen and (max-width:756px) {

    .nav, .nav-item, .banner-container, .online-cards, 
    .play-game-container,
    
    {
        flex-direction: column;
        align-items: center;
        margin: 0px 20px;
        
    }

    .banner-status{
        max-width: 60%;
        margin: 30px;
    }
    
    .banner-img, .career-img-container{
        width: 100%;
    }

    .online-status, .primary-text{

        text-wrap: nowrap;
        margin: 0px;
        margin-bottom: 20px;
        
    }
    .title-text{
        font-size: 1.5rem;
    }
    .online-text{
        font-size: 12px;
    }
    .play-img-container{
        max-width: 70%;
        margin-left: 50px;
    }
    .play-img{
        width: 300px;
    }
    .badge-img{
        height: 200px;
        width: 150px;
    }

    .card-container{
        
        width: 100%;
    }
    .career-container{
        flex-direction: column;
    }
    
}












